body{
    background-image: url('../images/genres.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainhead{
    color:rgb(228, 213, 139);
    text-align: center;
    font-size: 40px;
}

#sec{
    text-align: center;
    color:rgb(228, 213, 139);
}

#form{
    border-radius: 10px;
    padding:5px;
    border:0px;
    width:200px;
    height:25px;
    opacity: 1;
}

button{
    opacity: 1;
}

#sec{
    opacity: 1;
}