<!DOCTYPE html>
<html>
    <head>
        <title>
            Music Genre Predictor
        </title>
        <link rel='stylesheet' href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <h1 id='mainhead'>
            MUSIC GENRE PREDICTOR
        </h1>
        <br>
        <h1 id='sec'>
            Enter audio file path.
        </h1>
        <form method='POST' action='http://localhost:5000/submit'>
            <center>
                <input type='text' placeholder='enter the path' name='path' id='form'>
                <br>
                <br>
                <button>
                    Upload
                </button>
            </center>
        </form>
    </div>
    </body>
</html>