<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0"/>
        <title>
            Music Genre Predictor
        </title>
        <link rel='stylesheet' href="{{ url_for('static', filename='css/index.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).on('click','#upload',function(){
                var path=document.getElementById('form').value
                localStorage.setItem('path',document.getElementById('form').value)
                $.ajax({
                    method:"POST",
                    url:"/submit",
                    data:{
                        path:path
                    },
                    success: data => {
                        console.log(data);
                        localStorage.setItem('genre', data);
                        window.location = '/predict'
                    }
                })
            })
        </script>
    </head>
    <body>
        <h1 id='mainhead'>
            MUSIC GENRE PREDICTOR
        </h1>
        <br>
        <h1 id='sec'>
            Enter audio file path.
        </h1>
            <center>
                <input type='text' placeholder='enter the path' name='path' id='form'>
                <br>
                <br>
                <button id='upload'>
                    Upload
                </button>
            </center>
    </div>
    </body>
</html>