<!DOCTYPE html>
<html>
    <head>
        <title>
            Music Genre Predictor
        </title>
        <style>
            body{
                background-color: antiquewhite;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>
            Enter audio file path.
        </h1>
        <form method='POST' action='http://localhost:5000/submit'>
            <input type='text' placeholder='enter the path' name='path'>
            <button>
                Upload
            </button>
        </form>
        
    </body>
</html>